/* src/App.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: flex-start; /* Keep text at the top */
  justify-content: center;
  height: 100vh;
  background-color: #1a1a1a;
  color: #fff;
}

.container {
  text-align: center;
  margin-top: 20vh; /* Adjust the top margin as needed */
}

.question {
  font-size: 50px; /* Increase the font size of the question */
  font-weight: bold;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.button-yes,
.button-no,
.button-notSure {
  padding: 15px 30px;
  font-size: 20px; /* Font size of the buttons */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-yes:hover,
.button-no:hover,
.button-notSure:hover {
  background-color: #333;
}

.button-yes {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 25px;
}

.button-no {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 25px;
}

.button-notSure {
  background-color: #ffeb3b;
  color: #000;
  border: none;
  border-radius: 25px;
}
